*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

body{
    width: 100%;
    height: 100vh;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #def2f1;
    padding: 0 1.5rem;
}

.title{
    cursor: default;
    text-align: center;
    font-size: 3em;
    margin: 1.5rem 0 2rem;
    text-decoration: none;
    color: #2b7a78;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor ;

    position: relative;
}

.login{
    cursor: default;
    text-align: center;
    font-size: 1.5rem;
    color: #2b7a78;
}

hr.hr1{
    width: 20%;
    height: 2;
    margin: auto;
    text-align: center;
    border-width: 0;
    color: #2b7a78;
    background-color: #2b7a78;
}

hr.hr2{
    width: 30%;
    height: 2;
    margin: auto;
    text-align: center;
    border-width: 0;
    color: #2b7a78;
    background-color: #2b7a78;
}

.blog-post{
    width: 100%;
    max-width: 98rem;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1.5rem;
    background-color: #feffff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;

}

.blog-post_creator span{
    cursor: default;
    min-width: 15rem;
    max-width: 35rem;
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.boxes {
    display: inline-block;
    margin: 25;
    padding: 3 1.5rem;
    border-radius: 0.5em;
    background-color: #def2f1;
    position: relative;
    object-fit: cover;
}

.blog-post_title{
    cursor: default;
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2b7a78;
}

.blog-post_title_link{
    display: inline-block;
    padding: .6rem .8rem;
    font-size: 2.5rem;
    margin: 1.5rem 0 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #def2f1;
    background-image: linear-gradient(to right, #2b7a78 0%, #3aafa9 100%);
    border-radius: .8rem;
    text-decoration: none;
}
.blog-post_title_link:hover{
    background-image: linear-gradient(to right, #3aafa9 0%, #2b7a78 100%);
}

.blog-post_text{
    cursor: default;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: #17252a;
}

.blog-post_comment{
    cursor: default;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color: #17252a;
}

.blog-post_comment_link{
    cursor: pointer;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color: #17252a;
}

.comment{
    cursor: default;
    color: rgba(0,0,0,.5);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.comment_like{
    cursor: default;
    color: rgba(0,0,0,.5);
    font-size: 1.2rem;
    font-weight: 600;
}


.blog-post_cta{
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #def2f1;
    background-image: linear-gradient(to right, #2b7a78 0%, #3aafa9 100%);
    border-radius: .8rem;
    border-style: hidden;
    text-decoration: none;
}

.blog-post_cta:hover{
    background-image: linear-gradient(to right, #3aafa9 0%, #2b7a78 100%);
}

.blog-post_create{
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: .5rem;
    margin-bottom: 0rem;
    font-size: 1.4rem;
    color: #2b7a78;
    background-color: #feffff;
    border-radius: .8rem;
    border-style: hidden;
    text-decoration: none;
}

.blog-post_img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    position: relative;
}

.blog-post_img{
    width: 50%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: .8rem;
}
  
.img__description {
    position: absolute;
    letter-spacing: 1px;
    top: 5;
    bottom: 0;
    left: 10;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
}
  
.blog-post_img:hover .img__description {
    visibility: visible;
    opacity: 1;
}
  
@media screen and (max-width: 1068px) {
    .blog-post{
        max-width: 80rem;
    }

    .blog-post_create{
        max-width: 80rem;
    }

    .blog-post_img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 70rem;
    }

    .blog-post_create{
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post{
       padding: 2.5rem;
       flex-direction: column;
    }

    .blog-post_create{
        max-width: 27rem;
    }

    .blog-post_img{
        min-width: 100%;
        max-width: 100%;
    }
}